button:focus {
    outline: none;
}
.dashboard-item {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 5px 0; 
}

.dashboard-item-btn {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex: 1; 
    background: none; 
    border: none; 
    cursor: pointer; 
    text-align: left; 

}

.favorite {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 30px; 
    height: 30px; 
    border: 2px solid #FFFFFF; 
    border-radius: 50%; 
    color: #FF0000; 
    margin-left: 10px; 
    transition: background-color 0.3s; 
}

.favorite:hover {
    background-color: #725858; 
}