
.hourly-forecast-list {
    display: flex;                
    overflow-x: auto;            
    padding: 10px;               
    border-radius: 5px;          
}

.hourly-forecast {
    width: 50vw;                
    margin-right: 10px;          
    padding: 10px;               
    background-color: #4e4ea1;
    border: 1px #4E4EA0;
    border-radius: 5px;          
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.hourly-forecast-item {
    margin-right: 10px;          
    padding: 10px;               
    background-color: #fff;      
    border: 1px solid #ccc;      
    border-radius: 5px;          
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;          
    color: #242424;
}


.hourly-forecast-item:hover {
    background-color: #eaeaea;   
    cursor: pointer;              
}